@model KingsLeagueForum.Models.Discussion

@{
	ViewData["Title"] = "Discussion Details";
	string imageUrl = Url.Content("/photos/" + Model.ImageFilename);
}

<div class="row">
	<h3>@Html.DisplayFor(model => model.Title)</h3>
	<hr />

	<div class="d-inline-flex ms-0 mb-3 ">
		<img src="@imageUrl" class="img-fluid col-4" alt="@Model.Title" />
		<p class="ms-3">@Model.Content</p>
	</div>
</div>

<div class="mb-3">
	<a asp-controller="Comments" asp-action="Create" asp-route-id="@Model.DiscussionId" class="me-2 btn btn-light">Add Comment</a>
</div>

<div class="mb-3 border">
	@if (Model.Comments != null)
	{
		foreach (var comment in Model.Comments)
		{
			//<span class="pe-2 btn btn-primary btn-sm">@comment.Content <a asp-controller="Tags" asp-route-id="@comment.CommentId"></a> </span>
			<div class="border rounded m-2 p-1">
				<p class="fw-bold mb-0">Comment</p> 
				@comment.Content
				
			</div>
		}
	}
</div>
