@model KingsLeagueForum.Models.Discussion

@{
	ViewData["Title"] = "Discussion Details";
	string imageUrl = Url.Content("/photos/" + Model.ImageFilename);
}

<div class="row">
	<h3>@Html.DisplayFor(model => model.Title)</h3>
	<hr />

	<img src="@imageUrl" class="img-fluid col-4" alt="@Model.Title" />

	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreateDate)
		</dt>
		<dd class="col-sm-10">
			@Model.CreateDate.ToString("MMM d, yyyy")
		</dd>
	</dl>
	<p>
		<b>@Html.DisplayNameFor(model => model.CreateDate) </b>
		@Model.CreateDate.ToString("MMM d, yyyy")
	</p>
</div>

<div class="mb=3">
	@if (Model.Comments != null)
	{
		foreach (var comment in Model.Comments)
		{
			<span class="pe-2 btn btn-primary btn-sm">@comment.Content <a asp-controller="Tags" asp-route-id="@comment.CommentId"></a> </span>
		}
	}
</div>
