@model List<KingsLeagueForum.Models.Discussion>
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="fm-bold">Welcome</h1>

<div>
    The weirdest form of soccer
</div>
<hr />

<div class="mb-4">
    @foreach (var item in Model)
    {
        
        string imageUrl = Url.Content("/photos/" + item.ImageFilename);

		<div class="border rounded mb-2 mh-75">

			<h3 class="mt-0 ms-1">@item.Title</h3>

			<dl class="row mb-0 ms-2">
				<dd class="col-sm-3">
					<a class="" href="@Url.Action("DiscussionDetails", "Home", new { id = item.DiscussionId })">
						<img src="@imageUrl" class="img-fluid" alt="@item.Title" />
					</a>
				</dd>
				<dd class="col-sm-9">
					@item.Content<br />
				</dd>
			</dl>
		</div>
    }
</div>
