@model List<KingsLeagueForum.Models.Discussion>
@{
    ViewData["Title"] = "Home Page";
}


<h1 class="fm-bold">Welcome</h1>

<div class="mb-4">
    The weirdest form of soccer
</div>

@foreach(var item in Model){
    <h3>@item.Title</h3>
    <p>
        @item.Content<br />
        @item.ImageFilename

    </p>
	<a href="@Url.Action("DiscussionDetails", "Home", new { id = item.DiscussionId })">To Details</a>

}
<div class="masonry-grid">
    @foreach (var item in Model)
    {
        string imageUrl = Url.Content("/photos/" + item.ImageFilename);

        <div class="masonry-grid-item">
            <a href="@Url.Action("DiscussionDetails", "Home", new { id = item.DiscussionId })">
                <img src="@imageUrl" class="img-fluid" alt="@item.Title" />
            </a>
        </div>
    }
</div>
